/* src/Calendar.css */

.calendar {
  width: 300px;
  margin: 0 auto;
  border: 1px solid #eeeeee;
  padding: 12px;
  box-shadow: 5px 10px #eeeeee;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.header h2 {
  cursor: pointer;
}

.days-of-week,
.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}

.day-name,
.day,
.prev-month,
.next-month,
.month,
.year {
  text-align: center;
  padding: 10px;
}

.day-name,
.day {
  border: none;
}

.day {
  cursor: pointer;
}

.day-name {
  font-weight: bold;
}

.prev-month,
.next-month {
  color: #eeeeee;
}

.month-view {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.month,
.year {
  cursor: pointer;
}

.month:hover,
.year:hover {
  background-color: #c0c0c0;
}

.year-view {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.date-today {
  color: #db3d44;
}

.selected {
  background-color: #db3d44;
  border-radius: 50%;
  color: white;
}
